# Common
*.log
*.sql
*.sqlite
.DS_Store
Thumbs.db

# Artifacts
*.tmp
*.bak
*.swp
*.zip
*.tar.gz

# Project
.env

# Composer
vendor
composer.*

# Core
/*
!.gitignore
!wp-content/

# Content
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/

# Plugins
wp-content/plugins/*
!wp-content/plugins/sentry/
!wp-content/plugins/sentry/sentry.php

# Themes
wp-content/themes/*
!wp-content/themes/salient-child/